.ivent-box {
    min-width: 67.5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 32px;
}

.ivent-box ul{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 36px 0 36px 0;
    box-sizing: border-box;
}

.ivent-box li{
    margin-bottom: 18px;
}

.ivent-box h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #4f4f4f;
}

.ivent-box h1 {
    display: block;
    font-size: 14px;
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    width: fit-content;
}

.ivent-box h2 {
    font-size: 14px;
    font-family: "Roboto-Light";
    margin-top: 8px;
}

.ivent-box h3 {
    font-size: 10px;
    font-family: "Roboto-Light";
    margin-top: 6px;
    color: #888888;
}

.ivent-box .img {
    width: 376px;
    height: 180px;
}

.img {
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   position: relative;
}

.ivent-box .img-01 {
    background-image: url(../../images/Ivents/Tile-Big-01.png)
}

.ivent-box .img-02 {
    background-image: url(../../images/Ivents/Tile-Big-02.png);
}

.ivent-box .img-03 {
    background-image: url(../../images/Ivents/Tile-Big-03.png);
}

.ivent-box .img-04 {
    background-image: url(../../images/Ivents/Tile-Big-04.png);
}

.ivent-box .img-01 h1{
    background-color: rgb(98, 182, 238);
}

.ivent-box .img-02 h1{
    background-color: rgb(98, 238, 173);
}

.ivent-box .img-03 h1{
    background-color: rgb(226, 98, 238);
}

.ivent-box .img-04 h1{
    background-color: rgb(238, 201, 98);
}

.ivent-button {
    width: 230px;
    align-self: center;
    background: #5bbd6b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 24px;
    margin: 36px 0 22px 0;
}

.ivent-button:hover {
    background: #4cac5c;
}

.billet {
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0; bottom: 0;
}

.billet h1 {
        padding: 6px 10px 6px 10px;
}


    .ivent-box .title h1 {
    display: inline;
    width: fit-content;
    font-family: "Roboto-Regular";
    font-size: 18px;

    color: #302f2f;
    text-transform: uppercase;

    margin: 0;
    padding: 0 0 8px 0;
    border-bottom: 2px solid #302f2f;
}



@media (max-width: 1440px){
    .news-box .title, .ivent-box .title {
        width: 316px;
    }
}

@media (max-width: 606px) {
    .ivent-box .img {
        width: 95vw;
        height: 180px;
    }

    .billet h1 {
        padding: 6px 60px 6px 20px;
}

    .ivent-box {
        width: 98%;
        margin-right: 0;
    }

    .ivent-button {
        align-self: flex-start;
    }

}