.news-box {
    width: 67.5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.news-box ul{
    margin: 10px 0 36px 0;
    display: flex;
    flex-direction: column;
}

.news-box li{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cfcfcf;
}

.news-box li:last-child {
    margin-bottom: 0px;
}

.news-box li div {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 12px;
}

.news-box h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: #888888;
}
.news-box h1 {
    font-size: 18px;
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    color: #4f4f4f;
}

.news-box h2 {
    font-size: 14px;
    font-family: "Roboto-Light";
}

.news-box h3 {
    font-size: 10px;
    font-family: "Roboto-Light";
    margin-top: 8px;
}

.news-box .title h1 {
    display: inline;
    width: fit-content;
    font-family: "Roboto-Regular";
    font-size: 18px;

    color: #302f2f;
    text-transform: uppercase;

    margin: 0;
    padding: 0 0 8px 0;
    border-bottom: 2px solid #302f2f;
}