.register-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box form span {
    font-family: "Roboto-Bold";
    font-size: 14px;
    width: 60%;
    margin-top: 24px;
}

.register-box input {
    box-sizing: border-box;
    
    font-family: "Roboto-Medium";
    
    border-radius: 6px;
    border: 1px solid #b1b1b1;
    padding: 16px 12px;

    margin-top: 18px;
}

.register-box input::placeholder {
    color: #b1b1b1;
}

.register-button {
    background: #5bbd6b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 18px;
    width: 30%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.register-button:hover {
    background: #4cac5c;
}