.social-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.social-box ul{
    display: flex;
    padding: 48px 0 24px 0;
    justify-content: space-around;
}

.social-box li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}

.social-box a {
    font-size: 10px;
    color: #c2c2c2;
    text-decoration: none;
    margin-top: 10px;
    }

.social-box img {
    width: 42px;
}

@media (max-width: 606px) {
    .social-box img {
        width: 64px;
        margin-bottom: 12px
    }

    .social-box ul li a {
        font-size: 14px;
    }
}