.users-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.users-box ul {
    display: flex;
    padding: 48px 0 24px 0;
    flex-direction: column;
}

.users-box li{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 18px;
}

.users-box li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.users-image {
    width: 68px;
    height: 68px;
    position: relative;
    overflow: hidden;
}

.users-image img{
    position: absolute;
    top:0; left: 0;
}

.users-box h2, h3 {
    margin: 0;
    padding: 0;
}

.users-box h2 {
    font-size: 14px;
    font-family: "Roboto-Regular";
}

.users-box h3 {
    font-size: 10px;
    font-family: "Roboto-Light";
    color: #888888;
}

@media (max-width: 606px) {
    .users-box img {
        width: 124px;
    }

    .users-image {
        width: 124px;
        height: 124px;
    }

    .users-box h2 {
        font-size: 22px;
    }

    .users-box h3 {
        font-size: 18px;
    }

    .users-box li div {
        margin-left: 22px;
    }

}