.white-box {
    border: 2px solid #cfcfcf;
    padding: 18px;
    box-sizing: border-box;
}

.white-box:last-child {
    margin-bottom: 0;
}

.title {
    text-align: left;
    border-bottom: 2px solid #cfcfcf;
    padding: 0 0 8px 0;
}

.title h1 {
    display: inline;
    width: fit-content;
    font-family: "Roboto-Regular";
    font-size: 18px;

    color: #302f2f;
    text-transform: uppercase;
    white-space: nowrap;
    
    margin: 0;
    padding: 0 0 8px 0;
    border-bottom: 2px solid #302f2f;
}

