.gray-box {
    overflow: scroll;
    padding: 18px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.gray-box .title {
    border: none;
}

.lectures {
    margin-top: 34px;
    
}

.lectures ul {
    display: inline-flex;
    overflow: scroll;
    margin:  32px 0 16px;
}

.lectures .img {
    width: 284px;
    height: 172px;
}

.lectures li {
    margin-right: 6px;
}

.lectures li:last-child {
    margin-right: 0;
}

.lectures .img:last-child{
    margin-right: 0;
}

.lectures .img-01 {
    background-image: url(../images/Lecture/video-01.png);
}

.lectures .img-02 {
    background-image: url(../images/Lecture/video-02.png);
}

.lectures .img-03 {
    background-image: url(../images/Lecture/video-03.png);
}

.lectures .img-04 {
    background-image: url(../images/Lecture/video-04.png);
}