* {
    font-family: "Roboto-Regular";
}

body {
    display: flex;
    flex-direction: column;
    color: #4f4f4f;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Roboto-Bold";
    font-size: 64px;
    margin: 24px 0 12px 0;
}

p {
    font-size: 24px;
}

.head {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

    font-size: 14px;
    color: #c2c2c2;

    box-sizing: border-box;
}

.head span {
    white-space: nowrap;
    justify-self: flex-start;
}

.head .head_menu {
    display: flex;
    justify-self: flex-end;
}

.head div {
    justify-self: center;
}

.head_menu li {
    margin-left: 24px;
}

.head ul a {
    white-space: nowrap;
    color: #c2c2c2;
    text-decoration: none;
    }
    
.head ul a:hover {
    color: #4f4f4f;
    text-decoration: underline;
}

.beeInterns {
    color: #4f4f4f;
    font-size: 6vw;
    padding-top: 36px;
}

.chapter {
    overflow: scroll;
    white-space: nowrap;
    background-color: #4f4f4f;
    color: #c2c2c2;
} 

.chapter_main {
    display: flex;
    border-radius: 6px;
    color: white;
}

.chapter_main li {
    margin-left: 28px;
    padding: 16px 0 16px 0;
}

.chapter_main li:last-child {
    margin-right: 42px;
}

.chapter_main a {
    color: white;
    text-decoration: none;
}

.chapter_main a:hover {
    text-decoration: underline;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
    text-align: start;
    margin-top: 24px;
    box-sizing: border-box;
}
.image-block {
    display: flex;
}

.image-block li {
    position: relative;
}

.image-block li h1, .image-block li h2 {
    color: white;
    position: absolute;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: "Roboto-Thin";
}

.big-image li h1 {
    font-size: 52px;
    top: 35%; left: 0; bottom: 0; right: 0;
}

.big-image li h2 {
    font-weight: 250;
    font-size: 18px;
    top: 55%; left: 0; bottom: 0; right: 0;
}

.small-image li h1 {
    font-size: 38px;
    top: 30%; left: 0; bottom: 0; right: 0;
}

.small-image li h2 {
    font-weight: 250;
    font-size: 18px;
    top: 55%; left: 0; bottom: 0; right: 0;
}


.image-block-01 {
    display: flex;
    flex-direction: column;
}

.image-block-02 {
    display: flex;
    flex-direction: column;
}

.big-image {
    box-sizing: border-box;
}

.big-image li:first-child {
    margin-right: 6px;
}

.small-image {
    display: flex;
    margin-top: 2px;
}

.small-image img {
    margin-right: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    background-color: #4f4f4f;
}

.footer span {
   color: #c2c2c2;
   margin: 64px 0 64px 0;
}

.double-boxes {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
}

.social-and-user-boxes{
    min-width: 30%;
    display: flex;
    flex-direction: column;
}




@media (max-width: 1206px) {
    .head, .content, .footer {
        width: 1206px;
    }
}

@media (max-width: 906px) {

    .small-image img {
        width: 222px; 
    }

    .head, .footer {
        width: 906px;
    }

    .content {
        width: 906px;
        margin: 24px;
    }

    .head .head_menu {
        margin-right: 24px;
    }
    
    .head span {
        margin-left: 24px;
    }
}

@media (max-width: 606px) {
    h1, p {
    margin-left: 24px;
    }

    .image-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .head, .content, .footer {
        width: 606px;
        margin-right: 0;
        margin-left: 0;
    }

    .double-boxes {
        flex-direction: column;
    }

    .ivent-box {
        width: 100%;
    }

    .social-box{
        width: 100%;
        margin-top: 32px;
        order: 2;
    }

    .users-box{
        order: 1;
    }

    .double-boxes .news-box{
        display: none;
        order: 2;
    }

    .double-boxes .register-box {
        margin: 0 auto;
        width: 80%;
        order: 1;
    }
}


@media (max-width: 406px) {
.small-image img {
            width: 145.5px;
        }
}